{% load i18n %} {% load staticfiles %} 

<header class="ui fixed menu">
    <!-- <img src="{% static 'dashboard/udg/images/logo.svg' %}" class="logo-site" width="100px" height="200px" alt="logo MXC" /> -->
</header>{% block content %}
<body class="login">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" method="post">
            {% if form.errors %}
            <div class="ui negative message" id="message-filter-fail">
                <i class="close icon"></i>
                <div class="header">Usuario o contraseña invalidos</div>
            </div>
            {% endif %}
                {% csrf_token %}
                <div class="ui segments">
                    <div class="ui segment">
                        <div class="ui header">
                            <div class="content">
                                <h1>OPEN-COLLECTION</h1>
                            </div>
                        </div>
                    </div>
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui corner labeled left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" id="id_username" name="username" placeholder="{{ form.username.label }}" required autofocus>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui corner labeled left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="id_password" name="password" placeholder="{{ form.password.label }}" required>
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large green button">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
