<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="">

    <title>{% block title %}BASE TEMPLATE{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
